*{
    margin: 0;
    padding: 0;
    color: #343239;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #f7f7f7;
    width: 100;
    position: sticky;
    padding: 13px 15px;
    top: 0px;
    z-index: 10;
}

.logo{
    display: flex;
    justify-content: flex-start;
    z-index: 1;
    margin-right: 1190px;
}

.logo img{
    width: 90px;
    height: 32.78px;
}

.menu_buscar{
    display: flex;
    justify-content: flex-end;
}

.menu_buscar img{
    display: flex;
    width: 34px;
    height: 34px;
}

.buscar{
    display: flex;
    margin-right: 10px;
}

main{
    display: block;
    float: left;
    margin-top: 60px;
    width: 100%;
}

main .encabezado{
    display: flex;
    justify-content: center;
    padding: 0px 15px 0px 85px;
    width: 100;
    height: 45px;
}

.encabezado div{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    width: 45px;
    background-color: #E8D1B8;
    border-radius: 50%;
}

.encabezado img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    width: 30px;
    height: 30px;
}

.encabezado h1{
    display: table-cell;
    justify-content: center;
    color: #343239;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 22px;
    width: 45px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

main .principal{
    display: grid;
    padding-left: 80px;
    margin-top: 14px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 12, 1fr;
    grid-gap: 14px;
}

.principal div{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
    word-spacing: 0px;
    width: 47.5%;
    vertical-align: top;
}

.enlace{
    display: block;
    justify-items: center;
    align-items: center;
    text-decoration: none;
}

.enlace img{
    display: block;
    justify-items: center;
    align-items: center;
    float: left;
    margin: 0px 4% 8px;
    border: none;
    border-radius: 50%;
    width: 92%;
}

.enlace p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

footer{
    display: block;
    float: left;
    margin-top: 42px;
    background-color: #343239;
    width: 100%;
}

footer .imagen{
    display: block;
    float: left;
    background-color: #f7f7f7;
    background-image: url(./Imagenes/subscription.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto;
    width: 100%;
    height: 257px;
}

.imagen p{
    display: block;
    margin-top: 65px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 27px;
    width: 100%;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.imagen .boton{
    display: block;
    margin: auto;
    width: 100%;
    max-width: 234px;
}

.boton a{
    display: block;
    margin-top: 16px;
    border-radius: 30px;
    background-color: #6e6e6f;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    width: 100%;
}

footer .logo_redes{
    display: block;
    padding: 0px 10px;
    width: 20%;
}

.logo_redes p{
    display: block;
    float: left;
    margin-top: 15px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 15px;
    line-height: 18px;
    width: 60%;
}

.logo_redes .logo_footer{
    display: block;
    margin: auto;
    float: left;
    width: 124px;
}

.logo_footer img{
    display: block;
    float: left;
    margin-top: 24px;
    border: none;
    width: 100%;
}

.logo_redes .rs{
    display: block;
    float: left;
    position: relative;
    margin-top: 14px;
    margin-right: 100%;
    color: #fff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 22px;
    padding-left: 38px;
}

.rs div{
    display: flex;
    justify-content: center;
    margin-right: 10px;
    width: 45px;
    background-color: #E8D1B8;
    border-radius: 50%; 
}

.rs img{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    background-color: #e8d1b8; 
    width: 22px;
    height: 22px;
}

.logo_redes .menu_recceta{
    display: block;
    float: left;
    width: 100%;
}

.menu_recceta a{
    display: block;
    float: left;
    color: #fff;
    font-size: 13px;
    text-decoration: none;
    line-height: 16px;
    width: 100%;
}