*{
    margin: 0;
    padding: 0;
}

header{
    display: block;
    position: fixed;
    top: 0px;
    background-color: #f7f7f7;
    padding: 13px 15px;
    width: 100%;
    z-index: 10;
}

header .logo{
    display: block;
    position: relative;
    width: 90px;
    z-index: 1;
}

.logo img{
    width: 90px;
    height: 32.78px;
}

header #menu{
    display: block;
    float: right;
    position: relative;
    width: 34px;
    height: 34px;
}

header #buscar{
    display: block;
    float: right;
    position: relative;
    margin-right: 10px;
    width: 34px;
    height: 34px;
}

#buscar img{
    width: 34px;
    height: 34px;
}

#menu img{
    width: 34px;
    height: 34px;
}